.general {
    background-color: rgb(68, 67, 67);
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);

}
.infotiendaiz {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin-left: 5%;
    width: 50%;
    
}


.infotiendader{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 900px;
    height: 100%;
    padding-left: 200px;
    padding-right: 50px;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}


.iteminfodaiz{
    position: relative;
    z-index: 2;
    color: #fff;
}

.mensaje{
    height: 900px;
}

.itemsderecha{
    position: relative;
    display: flex;
    flex-direction: column;    
}

.container-sm{
    align-content: center;
    text-align: center;

}
